<div class="container">
  <h1 class="page-header">Reminders</h1>

    <ul class="list-group">
      <li class="list-group-item">
        <h3><strong><%= reminderItem.title %>: </strong></h3>
        <h4><%= reminderItem.datetime %></h4>
        <div class="form-group">
          <h4 class="reminder-heading">Tasks</h4>
          <ul class="list-group">
            <% reminders.tasks.forEach(function (reminderItem) { %>
            <li class="list-group-item">
              <div style="display: flexbox;">
                <span><strong><%= reminderItem.tasks %>: </strong></span>
                <span><%= reminderItem.datetime %></span>
                <a class="pull-right" href=<%= "/reminder/" + reminderItem.id %>>View</a>
              </div>
            </li>
            <% }) %>
          </ul>
      </div>

        <a class="btn btn-warning" href=<%= "/reminder/" + reminderItem.id + "/edit" %>>Edit</a>

        <form class="deleteForm "method="POST" action=<%= "/reminder/delete/" + reminderItem.id %>>
          <button type="submit" class="btn btn-danger">Delete</button>
        </form>

      </li>

</div>
